

body {
    background:url(http://wallpaper-gallery.net/blog/10-photographs-after-watching-them-you-cannot-but-visit-namibia/10-photographs-after-watching-them-you-cannot-but-visit-namibia-1.jpg)
    no-repeat center;
    background-size: cover;

}

 .pirmas, .antras, .trecias {
    display: inline;
    position: relative;
    color: white;
    font-size: 80px;
    padding-left: 200px;
    text-align: center;




}

div a{
    color: white;
    text-decoration: none;



}

.antraste {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 50px;




}
#antrasteid {
    border-bottom: 1px solid red;
    width: 50%;
    margin: 0 auto;
}
.body {
    text-align: center;
    color: white;
    font-size: 30px;
}

.footer {
    text-align: center;
    color: white;
    margin-top: 350px;
}
.tabs {
    background-color: #DEB887;
}
.tab  {
    float: left;
    margin: 0 10px;
    background-color:#DEB887 ;

}
.sheet {
 display: none;
    background-color: cornsilk;
}
.active {
    background-color: cornsilk;
}
