

body {
    background:url(http://wallpaper-gallery.net/blog/10-photographs-after-watching-them-you-cannot-but-visit-namibia/10-photographs-after-watching-them-you-cannot-but-visit-namibia-1.jpg)
    no-repeat center;
    background-size: cover;

}

* {
    border: 1px solid black;
}